<!--<head th:fragment="head">-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content="common platform"/>
<meta name="keywords" content="common platform"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<link rel="icon" type="image/png" href="/image/favicon.png"/>
<link rel="apple-touch-icon-precomposed" href="/image/favicon.png"/>
<meta name="apple-mobile-web-app-title" content="common platform"/>

<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/pace/pace-theme-minimal.css"/>
<link rel="stylesheet" type="text/css" href="/tether/tether.min.css"/>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/easyui/themes/bootstrap/easyui.css"/>
<link rel="stylesheet" type="text/css" href="/easyui/themes/color.css"/>
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
<link rel="stylesheet" type="text/css" href="/css/common.css"/>

<!--[if lt IE 9]>
<script type="text/javascript" src="/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/ie/html5shiv.min.js"></script>
<script type="text/javascript" src="/ie/respond.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="/jquery/jquery-3.1.1.min.js"></script>
<!--<![endif]-->

<script type="text/javascript" src="/jquery/jquery.cookie.js"></script>

<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>

<script type="text/javascript" src="/tether/tether.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/pace/pace.min.js"></script>

<script type="text/javascript" src="/js/common.js"></script>
<!--</head>-->