<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation) See here for more 
	details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="60 seconds" debug="true">

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
    <property name="app_log_home" value="/Users/Tanbo/project/commPlatformForSpringboot/logs"/>
    <property name="log_name" value="commpt_bgsystem"/>

    <!-- JMX管理 -->
    <jmxConfigurator/>

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%5p] [%c][%M]:%L %msg%n
            </pattern>
        </layout>
    </appender>

    <!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
    <appender name="logfile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- <File>${app_log_home}/mim.%d{yyyy-MM-dd}.log</File> -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${app_log_home}/${log_name}.%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <!-- 保留 30天数据，默认无限-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d默示日期，%thread默示线程名，%-5level：级别从左显示5个字符宽度%msg：日记消息，%n是换行符 -->
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%5p] [%c][%M]:%L %msg%n
            </pattern>
        </layout>
        <!--日志文件最大的大小 -->
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--日志异步到数据库 -->
    <!--<appender name="db_oracle" class="com.tb.commpt.logback.DBAppender">-->
        <!--<connectionSource-->
                <!--class="ch.qos.logback.core.db.DriverManagerConnectionSource">-->
            <!--<dataSource class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource">-->
                <!--<sqlDialect>ch.qos.logback.core.db.dialect.OracleDialect</sqlDialect>-->
                <!--<driverClass>oracle.jdbc.driver.OracleDriver</driverClass>-->
                <!--<url>jdbc:oracle:thin:@localhost:49161:ORCLCDB</url>-->
                <!--<user>C##DB_APP</user>-->
                <!--<password>DB_APP</password>-->
            <!--</dataSource>-->
        <!--</connectionSource>-->
        <!--<nameResolver class="com.tb.commpt.logback.DefaultTableAndColumnNameResolver">-->
            <!--<loggingEventTableName>LOGBACK_EVENT</loggingEventTableName>-->
            <!--<loggingEventExceptionTableName>LOGBACK_EVENT_EXCEPTION</loggingEventExceptionTableName>-->
            <!--<loggingEventPropertyTableName>LOGBACK_EVENT_PROPERTY</loggingEventPropertyTableName>-->
        <!--</nameResolver>-->
        <!--<printStackTrace>true</printStackTrace>-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>WARN</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--<appender name="db-mysql" class="ch.qos.logback.classic.db.DBAppender">-->
        <!--<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">-->
            <!--<dataSource class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource">-->
                <!--<sqlDialect>ch.qos.logback.core.db.dialect.MySQLDialect</sqlDialect>-->
                <!--<driverClass>com.mysql.cj.jdbc.Driver</driverClass>-->
                <!--<url>jdbc:mysql://localhost:3306/test</url>-->
                <!--<user>root</user>-->
                <!--<password>123456</password>-->
            <!--</dataSource>-->
        <!--</connectionSource>-->
    <!--</appender>-->

    <!-- 日志级别 -->
    <root>
        <level value="info"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="logfile"/>
        <!--<appender-ref ref="db_oracle"/>-->
    </root>
</configuration>
