<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <!--定义th:fragment时使用::，  html页面的相对路径，不需要写后缀(.html)::fragment定义的名字
        replace:替换；insert:内部插入;include同insert，不建议使用
        ex:<head th:replace="common/fragment_head::head"/>
    -->
    <head th:replace="common/comm_head"/>

    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
    <script type="text/javascript" src="/js/app.js"></script>
</head>

<body class="easyui-layout">
<div data-options="region:'north',border:false" class="h__50p ov__hidden">
    <h4 class="dis__inlineblock m__l__10p col-xs-2 l__h__50p sys__sysinfo"></h4>
    <div class="dis__inlineblock m__l__50p w_40 col-xs-3 l__h__50p"><a href="#" class="font__16p">消息区消息区消息区消息区...</a>
    </div>
    <div class="dis__inlineblock col-xs-4 l__h__50p pull__right">
        <span class="font__16p">欢迎,</span><a href="#" class="font__16p">谈波</a>
        <span class="p__lr__5p">|</span>


        <a href="#" class="easyui-linkbutton" data-options="plain:true">个人主页</a>
        <a href="#" class="easyui-splitbutton" data-options="menu:'#mm1',iconCls:'icon-edit'">设 置</a>
        <a href="#" class="easyui-splitbutton" data-options="menu:'#mm2',iconCls:'icon-help'">帮 助</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true" onclick="logout()">退 出</a>
        <!--button link-->
        <div id="mm1" style="width:150px;">
            <div data-options="iconCls:'icon-undo'">Undo</div>
            <div data-options="iconCls:'icon-redo'">Redo</div>
            <div class="menu-sep"></div>
            <div>Cut</div>
            <div>Copy</div>
            <div>Paste</div>
            <div class="menu-sep"></div>
            <div data-options="iconCls:'icon-more'">
                <span>更多</span>
                <div>
                    <div>Address</div>
                    <div>Link</div>
                    <div>Navigation Toolbar</div>
                    <div>Bookmark Toolbar</div>
                    <div class="menu-sep"></div>
                    <div>New Toolbar...</div>
                </div>
            </div>
        </div>
        <div id="mm2" style="width:100px;">
            <div>帮助</div>
            <div>更新</div>
            <div>关于</div>
        </div>
        <!---->
    </div>
</div>
<div data-options="region:'west',split:true,collapsed:true,title:'功能'" class="w__150p">
    <ul class="easyui-tree" id="mainmenutree"></ul>
</div>
<div data-options="region:'east',split:true,collapsed:true,title:'我的消息'" class="w__300p"></div>
<div data-options="region:'south',border:false" class="h__50p text-xs-center l__h__50p">
    <p class="font__grey h__20p m__0 dis__inline sys__footerinfo"></p>
</div>
<div class="easyui-tabs" data-options="region:'center',title:'',tabHeight:'35'" id="mainpage">

</div>

<script type="text/javascript" src="/js/index.js"></script>


<!--easyui component import-->
<div th:replace="common/tmpl_easyui::easyui_component"></div>
</body>
</html>