<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanb.commpt.core.mapper.DmGjdqMapper">
    <resultMap id="BaseResultMap" type="com.tanb.commpt.core.po.DmGjdq">
        <id column="UUID" jdbcType="VARCHAR" property="uuid"/>
        <result column="GJDQ_MC_Z" jdbcType="VARCHAR" property="gjdqMcZ"/>
        <result column="GJDQ_MC_E" jdbcType="VARCHAR" property="gjdqMcE"/>
        <result column="GJDQ_MCDM" jdbcType="VARCHAR" property="gjdqMcdm"/>
        <result column="GJDQ_DHDM" jdbcType="VARCHAR" property="gjdqDhdm"/>
        <result column="YXBJ" jdbcType="CHAR" property="yxbj"/>
        <result column="GJDQ_ID" jdbcType="VARCHAR" property="gjdqId"/>
        <result column="SC" jdbcType="VARCHAR" property="sc"/>
    </resultMap>
    <sql id="Base_Column_List">
        UUID,GJDQ_MC_Z,GJDQ_MC_E,GJDQ_MCDM,GJDQ_DHDM,GJDQ_ID,YXBJ,SC
    </sql>
    <insert id="insertSelective" parameterType="com.tanb.commpt.core.po.DmGjdq">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="uuid">
            SELECT sys_guid() from dual
        </selectKey>
        insert into T_DM_GJDQ
        <trim prefix="(" suffix=")" suffixOverrides=",">
            UUID,
            <if test="gjdqMcZ != null">
                GJDQ_MC_Z,
            </if>
            <if test="gjdqMcE != null">
                GJDQ_MC_E,
            </if>
            <if test="gjdqMcdm != null">
                GJDQ_MCDM,
            </if>
            <if test="gjdqDhdm != null">
                GJDQ_DHDM,
            </if>
            <if test="yxbj != null">
                YXBJ,
            </if>
            <if test="gjdqId != null">
                GJDQ_ID,
            </if>
            <if test="sc != null">
                SC,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{uuid,jdbcType=VARCHAR},
            <if test="gjdqMcZ != null">
                #{gjdqMcZ,jdbcType=VARCHAR},
            </if>
            <if test="gjdqMcE != null">
                #{gjdqMcE,jdbcType=VARCHAR},
            </if>
            <if test="gjdqMcdm != null">
                #{gjdqMcdm,jdbcType=VARCHAR},
            </if>
            <if test="gjdqDhdm != null">
                #{gjdqDhdm,jdbcType=VARCHAR},
            </if>
            <if test="yxbj != null">
                #{yxbj,jdbcType=CHAR},
            </if>
            <if test="gjdqId != null">
                #{gjdqId,jdbcType=VARCHAR},
            </if>
            <if test="gjdqId != null">
                #{sc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="selectGjdqList" parameterType="int" resultMap="BaseResultMap">
        <choose>
            <when test="pageStart != null and pageEnd != null">
                select
                <include refid="Base_Column_List"/>
                from (
                select t.*, ROW_NUMBER() OVER (order by GJDQ_ID) rownums from t_dm_gjdq t
                ) where rownums between #{pageStart,jdbcType=INTEGER} and #{pageEnd,jdbcType=INTEGER}
            </when>
            <otherwise>
                select
                <include refid="Base_Column_List"/>
                from t_dm_gjdq
            </otherwise>
        </choose>
    </select>
    <update id="updateByPrimaryKey" parameterType="com.tanb.commpt.core.po.DmGjdq">
        UPDATE t_dm_gjdq set
        <trim suffixOverrides=",">
            <if test="gjdqMcZ != null">
                GJDQ_MC_Z = #{gjdqMcZ,jdbcType=VARCHAR},
            </if>
            <if test="gjdqMcE != null">
                GJDQ_MC_E = #{gjdqMcE,jdbcType=VARCHAR},
            </if>
            <if test="gjdqMcdm != null">
                GJDQ_MCDM = #{gjdqMcdm,jdbcType=VARCHAR},
            </if>
            <if test="gjdqDhdm != null">
                GJDQ_DHDM = #{gjdqDhdm,jdbcType=VARCHAR},
            </if>
            <if test="yxbj != null">
                YXBJ = #{yxbj,jdbcType=CHAR},
            </if>
            <if test="gjdqId != null">
                GJDQ_ID = #{gjdqId,jdbcType=VARCHAR},
            </if>
            <if test="sc != null">
                SC = #{sc,jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE UUID = #{uuid,jdbcType=VARCHAR}
    </update>
    <insert id="insertByBatch" parameterType="java.util.List">
        INSERT into T_DM_GJDQ (
        UUID,GJDQ_MC_Z,GJDQ_MC_E,GJDQ_MCDM,GJDQ_DHDM,GJDQ_ID, SC)
        <foreach collection="list" item="item" index="index" separator="union all">
            SELECT
            SYS_GUID(),
            #{item.gjdqMcZ,jdbcType=VARCHAR},
            #{item.gjdqMcE,jdbcType=VARCHAR},
            #{item.gjdqMcdm,jdbcType=VARCHAR},
            #{item.gjdqDhdm,jdbcType=VARCHAR},
            #{item.gjdqId,jdbcType=VARCHAR},
            #{item.sc,jdbcType=VARCHAR}
            FROM dual
        </foreach>
    </insert>
</mapper>