<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanb.commpt.core.mapper.DmLogMapper">
  <resultMap id="BaseResultMap" type="com.tanb.commpt.core.po.DmLog">
    <id column="LOG_TYPE" jdbcType="VARCHAR" property="logType" />
    <result column="LOG_DESC" jdbcType="VARCHAR" property="logDesc" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    LOG_TYPE, LOG_DESC, STATUS
  </sql>
  <insert id="insertSelective" parameterType="com.tanb.commpt.core.po.DmLog">
    insert into DM_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logType != null">
        LOG_TYPE,
      </if>
      <if test="logDesc != null">
        LOG_DESC,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logType != null">
        #{logType,jdbcType=VARCHAR},
      </if>
      <if test="logDesc != null">
        #{logDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tanb.commpt.core.po.DmLog">
    update DM_LOG
    <set>
      <if test="logDesc != null">
        LOG_DESC = #{logDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
    </set>
    where LOG_TYPE = #{logType,jdbcType=VARCHAR}
  </update>
</mapper>