<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tb.commpt.core.mapper.DmRoleMapper">
  <resultMap id="BaseResultMap" type="com.tb.commpt.core.po.DmRole">
    <id column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="YXBJ" jdbcType="CHAR" property="yxbj" />
  </resultMap>
  <sql id="Base_Column_List">
    ROLE_ID, ROLE_NAME, YXBJ
  </sql>
  <insert id="insertSelective" parameterType="com.tb.commpt.core.po.DmRole">
    insert into T_DM_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="yxbj != null">
        YXBJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="yxbj != null">
        #{yxbj,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tb.commpt.core.po.DmRole">
    update T_DM_ROLE
    <set>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="yxbj != null">
        YXBJ = #{yxbj,jdbcType=CHAR},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </update>
</mapper>