<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanb.commpt.core.mapper.XtJwtMapper">
    <resultMap id="BaseResultMap" type="com.tanb.commpt.core.po.XtJwt">
        <id column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <id column="ACCESS_TOKEN" jdbcType="VARCHAR" property="accessToken"/>
        <result column="REFRESH_TOKEN" jdbcType="VARCHAR" property="refreshToken"/>
        <result column="JWT_TTL" jdbcType="TIMESTAMP" property="jwtTtl"/>
        <result column="JWT_REFRESH_TTL" jdbcType="TIMESTAMP" property="jwtRefreshTtl"/>
        <result column="JWT_REFRESH_INTERVAL" jdbcType="TIMESTAMP" property="jwtRefreshInterval"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    USER_ID, ACCESS_TOKEN, REFRESH_TOKEN, JWT_TTL, JWT_REFRESH_TTL, JWT_REFRESH_INTERVAL, CREATE_TIME
    </sql>
    <insert id="insertSelective" parameterType="com.tanb.commpt.core.po.XtJwt">
        insert into XT_USER_JWT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="accessToken != null">
                ACCESS_TOKEN,
            </if>
            <if test="refreshToken != null">
                REFRESH_TOKEN,
            </if>
            <if test="jwtTtl != null">
                JWT_TTL,
            </if>
            <if test="jwtRefreshTtl != null">
                JWT_REFRESH_TTL,
            </if>
            <if test="jwtRefreshInterval != null">
                JWT_REFRESH_INTERVAL,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="accessToken != null">
                #{accessToken,jdbcType=VARCHAR},
            </if>
            <if test="refreshToken != null">
                #{refreshToken,jdbcType=VARCHAR},
            </if>
            <if test="jwtTtl != null">
                #{jwtTtl,jdbcType=TIMESTAMP},
            </if>
            <if test="jwtRefreshTtl != null">
                #{jwtRefreshTtl,jdbcType=TIMESTAMP},
            </if>
            <if test="jwtRefreshInterval != null">
                #{jwtRefreshInterval,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tanb.commpt.core.po.XtJwt">
        update XT_USER_JWT
        <set>
            <if test="refreshToken != null">
                REFRESH_TOKEN = #{refreshToken,jdbcType=VARCHAR},
            </if>
            <if test="jwtTtl != null">
                JWT_TTL = #{jwtTtl,jdbcType=TIMESTAMP},
            </if>
            <if test="jwtRefreshTtl != null">
                JWT_REFRESH_TTL = #{jwtRefreshTtl,jdbcType=TIMESTAMP},
            </if>
            <if test="jwtRefreshInterval != null">
                JWT_REFRESH_INTERVAL = #{jwtRefreshInterval,jdbcType=TIMESTAMP},
            </if>
        </set>
        where USER_ID = #{userId,jdbcType=VARCHAR}
        and ACCESS_TOKEN = #{accessToken,jdbcType=VARCHAR}
    </update>
    <insert id="insert2" parameterType="com.tanb.commpt.core.po.XtJwt">
        insert into XT_USER_JWT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            USER_ID,
            ACCESS_TOKEN,
            CREATE_TIME,
            JWT_TTL,
            <if test="refreshToken != null">
                REFRESH_TOKEN,
                JWT_REFRESH_TTL,
                JWT_REFRESH_INTERVAL,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userId,jdbcType=VARCHAR},
            #{accessToken,jdbcType=VARCHAR},
            sysdate,
            sysdate+2,
            <if test="refreshToken != null">
                #{refreshToken,jdbcType=VARCHAR},
                sysdate+365,
                sysdate+1,
            </if>
        </trim>
    </insert>
    <resultMap id="TokenInfoMap" type="java.util.HashMap">
        <result column="USER_ID" jdbcType="VARCHAR" property="USER_ID"/>
        <result column="ACCESS_TOKEN" jdbcType="VARCHAR" property="ACCESS_TOKEN"/>
        <result column="REFRESH_TOKEN" jdbcType="VARCHAR" property="REFRESH_TOKEN"/>
        <result column="ACCESS_TOKEN_TIMEOUT" jdbcType="VARCHAR" property="ACCESS_TOKEN_TIMEOUT"/>
        <result column="REFRESH_TOKEN_TIMEOUT" jdbcType="VARCHAR" property="REFRESH_TOKEN_TIMEOUT"/>
        <result column="NEED_REFRESH" jdbcType="VARCHAR" property="NEED_REFRESH"/>
    </resultMap>
    <select id="selectByAccessToken" parameterType="java.lang.String" resultMap="TokenInfoMap">
        select t.USER_ID,t.ACCESS_TOKEN,t.REFRESH_TOKEN,case when t.jwt_ttl>sysdate then 'N' else 'Y' end as ACCESS_TOKEN_TIMEOUT,
        case when t.jwt_refresh_ttl>sysdate then 'N' else 'Y' end as REFRESH_TOKEN_TIMEOUT,
        case when t.JWT_REFRESH_INTERVAL>sysdate then 'N' else 'Y' end as NEED_REFRESH
        from XT_USER_JWT t where
        ACCESS_TOKEN = #{accessToken,jdbcType=VARCHAR}
    </select>
    <select id="selectByRefreshToken" parameterType="java.lang.String" resultType="java.lang.String">
        select USER_ID from XT_USER_JWT where JWT_REFRESH_TTL>sysdate
         and ACCESS_TOKEN = #{accessToken,jdbcType=VARCHAR}
         and REFRESH_TOKEN = #{refreshToken,jdbcType=VARCHAR}
    </select>
    <select id="selectByPrimaryKey" parameterType="com.tanb.commpt.core.po.XtJwtKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM XT_USER_JWT WHERE ACCESS_TOKEN = #{accessToken,jdbcType=VARCHAR} AND USER_ID = #{userId,jdbcType=VARCHAR}
    </select>
</mapper>