<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanb.commpt.core.mapper.XtPermissionMapper">
  <resultMap id="BaseResultMap" type="com.tanb.commpt.core.po.XtPermission">
    <id column="PERMISSON_ID" jdbcType="VARCHAR" property="permissonId" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="PERMISSION_DESC" jdbcType="VARCHAR" property="permissionDesc" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="OPEN_TYPE" jdbcType="CHAR" property="openType" />
    <result column="HASCHILDREN" jdbcType="CHAR" property="haschildren" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="IS_DEL" jdbcType="CHAR" property="isDel" />
    <result column="IS_EDIT" jdbcType="CHAR" property="isEdit" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="PERMISSION_NAME" jdbcType="VARCHAR" property="permissionName" />
    <result column="METHOD" jdbcType="VARCHAR" property="method" />
  </resultMap>
  <sql id="Base_Column_List">
    PERMISSON_ID, PARENT_ID, PERMISSION_DESC, URL, OPEN_TYPE, HASCHILDREN, STATE, IS_DEL, 
    IS_EDIT, STATUS, SORT, PERMISSION_NAME, METHOD
  </sql>
  <insert id="insertSelective" parameterType="com.tanb.commpt.core.po.XtPermission">
    insert into XT_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissonId != null">
        PERMISSON_ID,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="permissionDesc != null">
        PERMISSION_DESC,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="openType != null">
        OPEN_TYPE,
      </if>
      <if test="haschildren != null">
        HASCHILDREN,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="isDel != null">
        IS_DEL,
      </if>
      <if test="isEdit != null">
        IS_EDIT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="permissionName != null">
        PERMISSION_NAME,
      </if>
      <if test="method != null">
        METHOD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissonId != null">
        #{permissonId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="permissionDesc != null">
        #{permissionDesc,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="openType != null">
        #{openType,jdbcType=CHAR},
      </if>
      <if test="haschildren != null">
        #{haschildren,jdbcType=CHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="isEdit != null">
        #{isEdit,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tanb.commpt.core.po.XtPermission">
    update XT_PERMISSION
    <set>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="permissionDesc != null">
        PERMISSION_DESC = #{permissionDesc,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="openType != null">
        OPEN_TYPE = #{openType,jdbcType=CHAR},
      </if>
      <if test="haschildren != null">
        HASCHILDREN = #{haschildren,jdbcType=CHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="isDel != null">
        IS_DEL = #{isDel,jdbcType=CHAR},
      </if>
      <if test="isEdit != null">
        IS_EDIT = #{isEdit,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="permissionName != null">
        PERMISSION_NAME = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        METHOD = #{method,jdbcType=VARCHAR},
      </if>
    </set>
    where PERMISSON_ID = #{permissonId,jdbcType=VARCHAR}
  </update>
</mapper>